<!DOCTYPE html>
<html lang="en">
<head>
  <title>CCPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <style type="text/css">
  	body{
			background-color: #ffcf0059;
		}
  	nav{
  		background-color: #ad38c2;
  		height: 60px;
  	}
  	.navbar-brand{
  		color: white;
  		font-size: 20px
  	}

  	nav ul li a{
  		color: white;	
  		font-size: 20px
  	}
  </style>
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">COMBINED CYCLE POWER PLANT</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="#">Home</a></li>
      <li><a href="/predict">Goto Predict</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Introduction</h3>
  <p>The Combined Cycle Power Plant or combined cycle gas turbine, a gas turbine generator
    generates electricity and waste heat is used to make steam to generate additional electricity
    via a steam turbine. The gas turbine is one of the most efficient one for the conversion of gas
    fuels to mechanical power or electricity. The use of distillate liquid fuels, usually diesel, is
    also common as alternate fuels. 
  </p>
  <p>More recently, as simple cycle efficiencies have improved and as natural gas prices have
    fallen, gas turbines have been more widely adopted for base load power generation,
    especially in combined cycle mode, where waste heat is recovered in waste heat boilers, and
    the steam used to produce additional electricity.
  </p>
  <p>
    The basic principle of the Combined Cycle is simple: burning gas in a gas turbine (GT)
    produces not only power, which can be converted to electric power by a coupled generator,
    but also fairly hot exhaust gases. Routing these gases through a water-cooled heat exchanger
    produces steam, which can be turned into electric power with a coupled steam turbine and
    generator.
  </p>
</div>

</body>
</html>
